
<h1 class="mt-4" style='text-align: center;'>OM Portal</h1>
<p class="lead mb-3" style='text-align: center;'>Welcome Admin</p>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
    .usercontainer{
        background-color: blanchedalmond;
        margin: 16px;
        padding: 16px;
        border-radius: 5px;
        border:solid 1px rgb(199,199,199)
    }
</style>
<script>
    async function handleupdatestatusverify(e){
        console.log("Updating Status")
        console.log("id is " +e.target.id)
        //PUT request
        console.log(e.target.name);
        if(e.target.name=="accept")
        {
            // const data={verified:'VERIFIED'}
        const url='/users/update/verify/'+Number (e.target.id)
            const res=await axios.put(url,{
                verified:'VERIFIED'
            })
            alert ("Verification Status updated for "+res.data.name+" to "+res.data.verified);
            console.log(res)
        }
        else
        {
            const url='/users/update/reject/'+Number (e.target.id)
            const res=await axios.put(url,{verified:'REJECTED'})
            alert ("Verification Status updated for "+res.data.name+" to "+res.data.verified);
        }
        window.location.reload(true);
        // const url='/users/update/'+Number (e.target.id)
        // const res=await axios.patch(url,{verified:'VERIFIED'})
        // res.json()
        // alert ("Verification Status updated for "+res.data.name+" to "+res.data.verified);
        // console.log(res)
    }
    // async function handleupdatestatusreject(e){
    //     console.log("Updating Status")
    //     console.log(e.target.id)
    //     //PUT request
    //     const url='/users/update/'+e.target.id
    //     const res=await axios.patch(url,{verified:'REJECTED'})
    //     // res.json()
    //     alert ("Validation Status updated for "+res.data.name+" to "+res.data.verified);
    //     console.log(res)
    // }
</script>
<ul>
    <% users.forEach(function(item){ %>
        <div class=usercontainer>
            <strong>Name</strong> <%=item.name%>
            <div>
                <div><strong>User ID</strong> <%=item.userID%></div>
                <div><strong>Email ID</strong> <%=item.email%></div>
                <div><strong>Phone Number</strong> <%=item.phoneNo%></div>
                <div><strong>Branch</strong> <%=item.branch%></div>
                <div><strong>College</strong> <%=item.college%></div>
                <div><strong>State</strong> <%=item.state%></div>
                <div><strong>MAHE Student</strong> <%=item.isMahe%></div>
                <div><strong>Drive Link</strong><a href="<%=item.driveLink%>" target="_blank"> <%=item.driveLink%></a></div>
                <div><strong>Date of Registration</strong> <%=item.timeStamp%></div>
                <div>
                    <!-- <strong>Verification Status</strong>  -->
                
                    <% if(item.verified == 'VERIFIED') { %>
                         <h2 style="color:green"><%=item.verified%>  </h2>   
                    <%}else if(item.verified == 'REJECTED') {%>
                        <h2 style="color:red"><%=item.verified%>  </h2>   
                    <%} else {%>
                        <h2 style="color:orange"><%=item.verified%>  </h2>   
                    <%}%>
            
                    <button  class="btn btn-secondary btn-sm" id='<%=item.userID%>' name='accept'  onclick="handleupdatestatusverify(event)">VERIFY</button> 
                    <button  class="btn btn-secondary btn-sm" id='<%=item.userID%>'  name='reject' onclick="handleupdatestatusverify(event)">REJECT</button>
                </div> 
                
            </div>        
        </div>
    <% }); %>
  </ul>  

<div style="align-content: center; text-align: center; margin-bottom: 25px;"><a href="/users/logout" class="btn btn-secondary" >Logout</a></div>
